@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  font-size: 16px; /* mobile default */
}

@media (min-width: 1024px) {
  body {
    font-size: 13px; /* smaller on desktop */
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.8rem;
  }

  input, select, textarea {
    font-size: 0.8rem;
  }
}
